.game-thumb {
	width: 100%;
	margin: 10px 0px;
	background: black;
	border-radius: 3px;
	img {
	    width: inherit;
	    border-radius: 3px;
	    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	}
	.more-info {
		display: none;
	}
	.info, .mobile-tooltip-info {
		visibility: hidden;
	}
	.game-thumb-layover {
		width: calc(~'100% - 30px');
		height: calc(~'100% - 20px');
		position: absolute;
		top: 10px;
	}
	&:hover {
		img {
			opacity: .5;
		}
		.more-info {
			display: block;
			position: absolute;
			color: white;
			font-size: 22px;
			width: calc(~'100% - 30px');
			top: 10px;
			height: calc(~'100% - 20px');
			display: flex;
			p {
				text-align: center;
				margin: auto;
			}
		}
		// &:after {
		// 	content: "Click For More Info";
		// 	position: absolute;
		// 	color: white;
		// 	display: block;
		// }
	} 
}

// BROWSER Medium
@media (max-width: 992px) {

}

// MOBILE
@media only screen and (max-device-width: 1200px) {

		.game-thumb {
			&:hover {
				&:after {
					content: "";
				}
			}
		}
}