.game-thumb {
	height: 215px;
	width: 90%;
	margin: 10px auto;
	padding: 10px 0;
	background: green;
	border: 1px solid black;
	.info, .mobile-tooltip-info {
		visibility: hidden;
	}
	&:hover {
		&:after {
			content: "Click For More Info";
			display: block;
		}
	} 
}

// BROWSER SMALL
@media (max-width: 991px) {

}

// MOBILE
@media only screen and (max-device-width: 1200px) {

		.game-thumb {
			&:hover {
				&:after {
					content: "";
				}
			}
		}
}